<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
    </configSections>
    <appSettings>
        <add key="ClusterName" value="CoreWarsCluster" />
        <add key="StorageConnectionString" value="UseDevelopmentStorage=true" />
        <add key="ports" value="2552,2553,2554,2555,2556,2557"/>
    </appSettings>
    <akka>
        <hocon>
<![CDATA[
    akka {
        actor.provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"						
        remote {
            #log-remote-lifecycle-events = DEBUG
            helios.tcp {
                hostname = "127.0.0.1"
            }
        }
        cluster {
            seed-nodes = [
                "akka.tcp://CoreWarsCluster@127.0.0.1:2552",
                "akka.tcp://CoreWarsCluster@127.0.0.1:2553"
            ]
            roles = [node]
        }
        loggers = ["Akka.Logger.NLog.NLogLogger, Akka.Logger.NLog"]
    }
]]>
        </hocon>
    </akka>
    <system.diagnostics>
        <trace>
            <listeners>
                <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
                    <filter type="" />
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
